
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background 0.3s ease, color 0.3s ease;
    background-color: #eef0eb;
}
*{
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar{
    display: none;
  }
body.scroll-lock{
    overflow: hidden;
}
.light-theme{
    background: rgba(255, 255, 255, 0.8);
}
.wrapper{
    background: rgba(255, 255, 255, 0.8);
}

/* ---------- Header ---------- */

.header {
    border: none;
    text-align: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    color: #23368c;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 4;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}

.header_block_logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: -3px 3px 10px rgba(1, 255, 128, 0.241);
}

.cv{
    color: rgba(0, 247, 0, 0.906);
}
#img1{
    border: 2.2px solid rgba(0, 247, 0, 0.906);
}
#img1.visited {
    border: 2.2px solid rgba(35, 203, 35, 0.3);
}
.header_block_langs{
    position: absolute;
    bottom: 0;
    right: 10%;
}
.language-switcher {
    position: relative;
    display: inline-block;
}
.icon {
    cursor: pointer;
    font-size: 24px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.icon {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 5;
}
.dropdown-content .change_lang_btn {
    padding: 12px;
    cursor: pointer;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* ---------- Header ---------- */
.change_lang_btn{
    margin-bottom: 3px;
}
.change_lang_btn:last-child{
    margin-bottom: 0px;
}
h1, h2 {
    margin: 10px;
}
.lang_ico{
    width: 40px;
    height: 40px;
}
/* ---------- PopupWindow ---------- */
body.lock{
    overflow: hidden;
}
.popup {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    padding: 0px 0px;
    z-index: 9;
}
.popup.open {
    opacity: 1;
    visibility: visible;
}
.popup.open .popup_content{
    /* transform: perspective(600px) translate(0px, 0%) rotateX(0deg); */
    transform: perspective(50px) translate(0px, 0%) rotateY(0deg);
    opacity: 1;
}
.popup_body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}
.popup_content {
    color: black;
    max-width: 500px;
    padding: 30px;
    position: relative;
    border-radius: 9px;
    transition: all 0.8s ease 0s;
    opacity: 0;
    /* transform: perspective(600px) translate(0px, -100%) rotateX(45deg); */
    transform: perspective(60px) translate(-100%, -90%) rotate(45deg);
    border-radius: 20px;
}
.popup_content_image{
    padding: 0;
}
.popup_image img{
    max-width: 100%;
    max-height: 80%;
    vertical-align: top;
    border-radius: 18px;
    border: 1px solid #09814a;
}
.popup_close {  
    position: absolute;
    top:10px;
    right: 10px;
}
.popup_title {
    font-size: 25px;
    margin: 0 0 1em 0;
}
.img_code{
    height: 600px;
}
.hidden-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
  }
  .hidden-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
  }
/* ---------- Sections ---------- */
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: relative;
    z-index: 3;
}
 /* section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
 }
section.visible {
    opacity: 1;
    transform: translateY(0px);
}
.sections{
    padding: 50px;
} */

.feedback{
    font-size: small;
    color: #0077ff;
}

/* ---------- scills ---------- */
.skill {
    margin: 15px 0;
  }
  .skill {
    margin-bottom: 20px;
  }
  .skill span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .bar {
    width: 100%;
    height: 20px;
    background-color: #c2dfe3;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .bar::after {
    content: '';
    display: block;
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #4f772d, #31572c);
    border-radius: 10px;
    transition: width 1.5s ease-in-out;
  }
  /* .fill {
      background: #f45d01;
      height: 100%;
      color: white;
      text-align: right;
      padding-right: 10px;
      line-height: 25px;
      font-weight: bold;
    } */
/* ---------- projects ---------- */
.project-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px 20px;
    margin-bottom: 10px;
    transition: transform 0.2s ease;
  }
  .project-card:hover {
    transform: translateY(-2px);
  }
  .project-card h3 {
    margin-top: 0;
  }
  .project-card a {
    margin-top: 10px;
    color: white;
    background-color: #f45d01;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
  }
  .project-card a:hover {
    background-color: #d94e00;
  }
  .proj_icons{
    width: 20px;
    height: 20px;
  }
  .tech_icon{
    width: 17px;
    height: 17px;
    margin-right: 5px;
  }
  .processing{
    background: url(../img/config.svg) no-repeat;
    background-position: right;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }

/* ---------- Footer ---------- */
footer {
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: #0b0e14;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
}
.contacts_icon{
    width: 40px;
    height: 40px;
}
.contacts_icon:last-child{
  margin-left: 5px;
}
a {
    color: #0077ff;
    text-decoration: none;
}
/* ---------- Theme ---------- */
.theme-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
}
.switch {
    display: block;
    width: 50px;
    height: 25px;
    background: #0b0e14;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
}
.switch:before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background: #eef0eb;
    border-radius: 50%;
    top: 1.5px;
    left: 2px;
    transition: 0.3s;
}
input:checked + .switch {
    background: wheat;
}
input:checked + .switch:before {
    left: 26px;
    background: #0b0e14;
}
input {
    display: none;
}
/* ---------- dark ---------- */
.dark-theme {
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
}
.dark-theme .wrapper{
    background: rgba(0, 0, 0, 0.7);
}
.dark-theme header{
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgb(216, 141, 22);
}
.dark-theme section{
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(250,250,250,0.1);
}
.dark-theme .icon{
    background-color: rgba(0, 0, 0, 0.5);
}
.dark-theme .dropdown-content {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
}
.dark-theme .bar {
    background: wheat;
}
/* .dark-theme .fill {
    background: #0b0e14;
    color: wheat;
} */
.dark-theme .project-card {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(70, 112, 249, 0.2);
}
.dark-theme .project-card a {
    color: white;
    background-color: #150578;
}
.dark-theme .project-card a:hover {
    background-color: #192bc2;
}
.dark-theme footer {
    color: #eef0eb;
    background: rgba(0, 0, 0, 0.7);
}
.dark-theme .processing{
    font-weight: lighter;
    color: antiquewhite;
    background: url(../img/config_dark.svg) no-repeat;
    background-position: right;
    box-shadow: 0 0 10px rgba(139, 9, 168, 0.1);
  }
/* ---------- Responsive ---------- */
@media (max-width: 768px) {
    .dropdown-content {
        display: none;
        position: absolute;
    }
}
@media(max-width: 545px){
    .header_block_logo img{
        width: 40px;
        height: 40px;
    }
    .header {
        padding: 20px 0px;
        justify-content: space-around;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .header_block_title{
        font-size: 1.5vh;
        margin-right: 40px;
    }
    h1{
        margin: 0px;
    }
    footer {
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
    }
    .switch {
        width: 28px;
        height: 15px;
        border-radius: 15px;
    }
    .switch:before {
        width: 12px;
        height: 12px;
    }
    input:checked + .switch:before {
        left: 15px;
    }
    .lang_ico{
        width: 20px;
        height: 20px;
    }
}


.design{
    color: darkgreen;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.5rem;
}